# VIM swap file
*.*.swp

# KDE Kate/Kwrite swap file
*.*.kate-swp

# KDE Kate/Kwrite backup file
*~

# To Do directory
TODO

# Build directory
build

# GIT commit template
GIT_commit.txt

# GIT tag template
GIT_tag.txt
